@import '~antd/dist/antd.css';

.ant-table {
  box-shadow: 0 4px 16px #e6e6e6;
}

:root {
  --blue: #1890ff;
  --lightblue: #e6f7ff;
  --green: #52c41a;
  --green2: #73d13d;  
}

.app-section {
  margin-bottom: 30px;
}

.content-blue {
  background-color: var(--blue);
  color: white;
}

.typo-grey {
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.54);
}

.typo-center {
  text-align: center;
}

.margin-auto {
  margin: auto
}

.btn-green {
  background-color: var(--green);
  border-color: var(--green);
  color: white;
}

.btn-green:hover, .btn-green:focus {
  background-color: var(--green2);
  border-color: var(--green2);
}